/.vscode
/__pycache__
/data
/Dataset
/dlib
/logs
/Model_Test

/splittedData
/text_Model
/Y_Model
/BertModel

/Z__FUSION/__pycache__
/Z__FUSION/features.csv
/Z__FUSION/Fusion.csv
/Z__FUSION/attended_data.csv


/Z_Fusion_Trans/features.csv
/Z_Fusion_Trans/Fusion.csv
Z_Fusion_Trans/Fusion.npy
/Z_Fusion_Trans/attended_data.csv
/Z_Fusion_Trans/attention_matrix.csv

/VideoFR/__pycache__
/VideoFR/features1.csv
/VideoFR/fusion.csv
/VideoFR/output.csv
/VideoFR/output_features.csv
/VideoFR/attention_matrix.csv

/MultiModal/__pycache__ 
/MultiModal/features1.csv
/MultiModal/fusion_embeddings.csv
/MultiModal/fusion_embeddings.npy

/BiModel/__pycache__ 
/BiModel/features1.csv
/BiModel/fusion_embeddings.csv
/BiModel/fusion_embeddings.npy



